@media only screen and (max-width: 1278px){





}

@media only screen and (max-width: 1140px){
 
    





}
@media only screen and (max-width: 980px){
    

       .divflexfinal{
        gap: 15px;
       }
       .menuum{
        display: flex;
        justify-items: center;
        justify-content: center;
        

       }





    
}

@media only screen and (max-width: 768px){
    .menuum{
        background-color: rgb(34, 52, 214);
       }

       .mmenu a{
        display: none;

       }

       .ulum {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 15px; /* Ajuste o valor para controlar o espaçamento entre os itens do menu */
       }
    
    .divdoisimg img{
        width: 150px;

    }

    .divflexfinal h1{
        font-size: 11px;
    }
    .divflexfinal p{
        font-size: 10px;
    }
    .divflexfinal a{
        font-size: 10px;
    }
    .divflexfinal h3{
        font-size: 10px;
    }
    




    
}
@media only screen and (max-width: 640px){

    .menuum{
        background-color: rgb(255, 0, 212);
       }
    

       .menuum{
        display: none;
       }

       .divdois {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centraliza os elementos horizontalmente */
        justify-content: center;
        width: 100%; /* Ocupa a largura total da página */
       
        
      
    }

    .divdoisimg img {
        margin: 10px 10px;
        
        border-radius: 30px;
        border: 2px solid coral;

    }
    
    .divdoisimg {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centraliza os itens horizontalmente */
        justify-content: center;
        gap: 40px;
        padding-right: 300px;
        
    }
    .back01 {
        width: 100%;
    }

    .divdoisimg img{
        width: 100vw;
        height: 150px;

    }
    
    

    .divflexfinal{
        margin-top: 30px;
        gap: 0px;
        width: 100vw;
        padding-left: 80px;
      
        
        
    }


    .divflexfinal .h1final{
        font-size: 10px;

    }

    .divflexfinal{
        margin-left: -40px;

    }

    .divflexfinal p{
        font-size: 15px;
        

    }
    .ultimoul a{
        font-size: 15px;
    }

    .divflexfinal {
        display: flex;
        flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha */
        justify-content: space-between; /* Espaço entre os elementos */
        gap: 15px; /* Espaço entre as colunas */
    }
    
    .divflexfinal .h1final{
        margin-right: 800px;
        font-size: 17px;
        font-weight: 200;
    }    

    .servi2 a {
        font-size: 15px;

    }

    .divdois a{
        font-size: 15px;
        display: none;
    }
    .ul02{
        font-size: 40px;
    }

    .ultima{
        font-size: 15px;
    }
    .doisultima {
        font-size: 15px;
        
    }

    .doisdivultima h3{
        font-size: 15px;

    }

    .doisdivultima img{
        width: 15px;
        height: 15px;
    }


    
}


@media only screen and (max-width: 197px){

    .back01{
        display: none;
    }

    .divflexfinal{
        margin-left: -75px;

    }





    
    .divflexfinal .h1final{
        font-size: 12px;
    }


    .divflexfinal p {
        font-size: 9px;
    }
    .ultimoul a {
        font-size: 9px;
    }

    .ul02 a {
        font-size: 9px;
    }

 
    .doisdivultima img{
        width: 15px;
        height: 15px;
    }


    .doisdivultima h3 {
        font-size: 9px;
    }

    .ultima {
        font-size: 9px;
    }










}

