body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
 }
 /*https://promo.toflowdesign.com.br/agencia-jet/portfolio*/


 
 html , body {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  
  

    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  
  
  
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

  

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  

    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  
  
  
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  
  
  
  }



  .logo > img{
    width: 93px;
    height: 48px;
    
    margin-left: 30px;
  }

 

  .menuum{
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 2px 2px;
    padding-top: 0px;

  }

  .ulum{
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin-left: 240px;
    font-size: 14px;
    
  }

 .ulum > li{
    display: inline-block;
    
    
}


.ulum > li > a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 10px;
    padding: 4px;
 
}

.ulum a:hover {
    transition: all 0.5s;
    color: #F84054;
    margin-top: 100px;
    text-decoration: underline; /* Adiciona o sublinhado ao passar o mouse */
}

.menuumum a:hover{
    transition: all 0.5s;
    color: #F84054;
    margin-top: 100px;
    text-decoration: underline; /* Adiciona o sublinhado ao passar o mouse */

}

.menuumum a{
    color: black;
}

.menuUm a{
    color: black;

}

.menuUm a:hover{
    transition: all 0.5s;
    color: #F84054;
    margin-top: 100px;
    text-decoration: underline; /* Adiciona o sublinhado ao passar o mouse */



}


.menuum{
    padding-top: 20px;
    display: flex;
    justify-content: center;

}

.menuumum {
    color: rgb(0, 0, 0);
    font-size: 10px;
    padding: 12px;
    
}

.mmenu a{
    text-decoration: none;
    list-style: none;


}

.menuUm{
    color: rgb(0, 0, 0);
    font-size: 8px;
    margin-top: -10px; 
    margin-left: 12px;
    
}


.back01 {
    background-image: url('../img/back.png'); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Faz o background cobrir toda a área */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    width: 100vw; /* 100% da largura da tela */
    height: 145px; /* 100% da altura da tela */
}

.mapa iframe {
    width: 100vw;
    height: 280px;
    border: none;

}

.divdois{
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 2px 2px;
    padding-top: 0px;
    padding-left: 215px;
    padding-top: 25px;

}


.divdois a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 8px;
    padding: 4px 25px;
    margin-left: -25px;
    
}


.divdois ul{
    list-style: none;
}

.divdoisimg img{
    width: 190px;
    height: 120px;
    border-radius: 5px;
}
.divdois{
    display: block;
}

.divdoisimg {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Quatro colunas de tamanho igual */
    gap: 5px; /* Espaçamento entre as imagens */
    justify-content: center; /* Centraliza o conteúdo */
    align-items: center; /* Centraliza verticalmente */
    padding: 10px; /* Espaçamento interno opcional */
}

.divdoisimg {
    padding: 20px 110px;
    margin-right: 240px;
    padding-bottom: 80px;
    
}

.divflexfinal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; 
    gap: 80px;
    align-items: flex-start;
    white-space: nowrap;
  
    


}

.divflexfinal h1{
    font-size: 15px;
    font-weight: 300;
    padding: 0px;
    padding-bottom: 10px;
    
   
}

.h1final{
    border-bottom: 1.8px solid #FF8743 ;
    display: inline-block; 
    width: 30%;
    
    padding-bottom: 10px;
    margin-bottom: 5px;
    
}

.divflexfinal p{
    font-size: 12px;
    margin-top: 25px;
}

.divflexfinal a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 12px;
    padding: 4px;
    
    

}


.divflexfinal{
    padding-bottom: 40px;

}


.divflexfinal ul li{
    font-size: 10px;
    ;
}


.number{
    color: brown;

}

.divflexfinal h3{
    font-size: 12px;
    font-weight: 300;
}


.divflexfinal h2{
    font-size: 10px;
    padding-top: 10px;
}

.divflexfinal img{
        width: 9px;
        height: 10px;
}

.h1final{
    padding: 10px;
}

.str{
    font-size: 15px;
}


.number img{
    width: 15px;
    height: 15px;

}

.ultima{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 40px 40px;
    color: #ffffff;
    font-size: 10px;
    font-weight: 200;
    text-align: center; /* Garante que o texto esteja centralizado */
    
}

.ultimadiv{
   background-color:  #F84054;
   margin-bottom: -20px;
}




